{% extends 'cantovallenato/canciones/basecanto.html' %}
{% load static %}

{% block title %}
 Detalles de {{ persona.nombre_artistico}}
{% endblock title %}
{% block main %}
<div class="w-full max-w-sm mx-auto bg-white border border-gray-200 shadow-sm rounded-lg overflow-hidden dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-center px-4 pt-4">
        <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
            <span class="sr-only">Open dropdown</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
            <ul class="py-2" aria-labelledby="dropdownButton">
                <li><a href="{% url 'persona_edit' persona.pk %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Editar</a></li>
                <li><a href="{% url 'persona_delete' persona.pk %}" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Eliminar</a></li>
            </ul>
        </div>
      
    </div> 
    <div class="flex flex-col items-center pb-10 sm:flex sm:items-center px-6 py-4">
        {% if object.imagen %}        
            <img class="block mx-auto sm:mx-0 sm:flex-shrink-0 h-16 sm:h-24 rounded-full" src="{{object.imagen.url}}" alt="Imagen de {{ persona.nombre_artistico }}">
        {% else %}
        <p>No hay imagen disponible para esta persona.</p>
        {% endif %}
            <div class="mt-4 sm:mt-0 sm:ml-4 text-center sm:text-left">
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ persona.nombre_artistico }}</h5>
                <h4 class="mb-1 text-lg font-medium text-gray-900 dark:text-white"><strong>Nombres: </strong><i>{{object.nombres}}</i></h4>
                <h4 class="mb-2 text-lg font-medium text-gray-900 dark:text-white"><strong>Apellidos: </strong><i>{{object.apellidos}}</i></h4>
                <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Nivel académico: </strong><i>{{object.get_formacion_academica_display}}</i></h5>
                <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Desempeño creativo: </strong><i>
                    {% for role in object.roles.all %}
                        {{ role.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </i></h5>
                <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Año nacimiento: </strong><i>{{object.anio_nace}}</i></h5>
                <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Lugar de nacimiento: </strong><i>{{object.lugar_nace}}</i></h5>
                <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Lugar de deceso: </strong><i>{{object.lugar_muere}}</i></h5>
                <div class="mt-4">
                    <p><a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" href="{% url 'cantarvallenato' %}">Regresar</a></p>
                </div>
            </div>
        
    </div>
</div>
{% endblock main %}        