{% extends 'cantovallenato/canciones/basecanto.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %}
Listado de cantos vallenatos
{% endblock %}|Vallenato canta vallenato

{% block main %}

<div class="container max-w-lg mx-auto bg-white p-6 shadow-md rounded-md" >
    <br>
    <h3 class="text-2xl text-center font-bold mb-4">Listado de cantos vallenatos</h3>

    <p>Seleccione un compositor y pulse filtrar para mirar la lista de sus creaciones</p>
    <form  method="get">
        <div>
            {{ form.as_p }}
        </div>
        <br>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg">Filtrar por compositor</button>
    </form>
    <br>
    <table class="table-auto min-w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200">
                <th class="px-4 py-2 border border-gray-300 text-left text-sm font-medium text-gray-700">Título</th>                                   
                <th class="px-4 py-2 border border-gray-300 text-left text-sm font-medium text-gray-700">Ritmo</th>
                <th class="px-4 py-2 border border-gray-300 text-left text-sm font-medium text-gray-700" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for canto in cantos %} 

            <tr>
                <td class="border border-gray-300 px-4 py-2">{{canto.titulo}}</td>                               
                <td class="border border-gray-300 px-4 py-2">{{canto.ritmo}}</td>
                <td class="border border-gray-300 px-4 py-2"><a href="{% url 'cantovallenato_edit' canto.pk %}" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Editar</a></td>
                <td class="border border-gray-300 px-4 py-2"><a href="{% url 'cantovallenato_delete' canto.pk %}" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Eliminar</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="border border-gray-300 px-4 py-2 text-center">No hay canciones registradas.</td>
            </tr>           
            {% endfor %}                    
        </tbody>
    </table>
    <br>
    <p><a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" href="{% url 'cantarvallenato' %}">Regresar</a></p>   
</div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer%}