{% extends 'cantovallenato/canciones/basecanto.html' %}


{% block title %}
Listado de albumes de canciones vallenatas
{% endblock title %}

{% block main %}
    <div class="container mx-auto px-4 md:flex items-center gap-6 bg-gray-100 p-8">
        <div class="max-w-4xl mx-auto bg-white p-6 shadow rounded">
            <h3 class="text-2xl text-center font-bold mb-4">Listado de albumes de canciones vallenatas</h3>
            <table class="table-auto w-full border-collapse border border-gray-300">
                <thead>
                    <tr class="bg-gray-200">
                        
                        {% comment %}
                        <th class="border border-gray-300 px-4 py-2">Album</th>                            
                        {% endcomment %}
                            
                        <th class="border border-gray-300 px-4 py-2">Título del album</th>
                        <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">Agrupación</th>
                        <th class="border border-gray-300 px-4 py-2">Año</th>
                        <th class="border border-gray-300 px-4 py-2" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for album in albumes %}
                        <tr class="bg-gray-200">                  
                            
                                
                            <td class="border border-gray-300 px-4 py-2">{{album.titulo}}</td>
                            <td class="border border-gray-300 px-4 py-2">{{agrupacion.razon_social}}</td>
                            <td class="border border-gray-300 px-4 py-2">{{album.anio_graba}}</td>
                            <td class="border border-gray-300 px-4 py-2"><a href="{% url 'albumvallenato_edit' album.pk %}" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Editar</a></td>
                            <td class="border border-gray-300 px-4 py-2"><a href="{% url 'albumvallenato_delete' album.pk %}" class="bg-red-500 hover:red-800 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Eliminar</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="border border-gray-300 px-4 py-2 text-center">No hay albumes registrados.</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
            <p class="mt-4"><a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" href="{% url 'cantarvallenato' %}">Regresar</a></p>   
        </div>
    </div>
{% endblock main %}

{% block footer %}
    
{% endblock footer %}
    
    
    