{% extends 'cantovallenato/canciones/basecanto.html' %}
{% block title %}
Las agrupaciones del vallenato
{% endblock %}



{% block main %}
<div class="container mx-auto px-4 md:flex items-center gap-6 bg-gray-100 p-8">
    <div class="max-w-4xl mx-auto bg-white p-6 shadow rounded">
        <h3 class="text-2xl text-center font-bold mb-4">Las agrupaciones del vallenato</h3>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">Razón social</th>
                    
                    {% comment %}
                    <th class="border border-gray-300 px-4 py-2">Album</th>                       
                    {% endcomment %}
                        
                    <th class="border border-gray-300 px-4 py-2" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                {% for agrupacion in agrupaciones %}
                    <tr>
                        <td class="border border-gray-300 px-4 py-2"><a href="{% url 'agrupacionvallenato_detail' pk=agrupacion.pk %}">{{agrupacion.razon_social}}</a></td>
                        <td class="border border-gray-300 px-4 py-2" ><a href="{% url 'agrupacionvallenato_edit' agrupacion.pk %}" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Editar</a></td>
                        <td class="border border-gray-300 px-4 py-2"><a href="{% url 'agrupacionvallenato_delete' agrupacion.pk %}" class="bg-red-500 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Eliminar</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="border border-gray-300 px-4 py-2 text-center">No hay agrupaciones registradas.</td>
                    </tr>
                {% endfor %}
                
                    
            </tbody>
        </table> 

    </div>

</div>
{% endblock main %}
